@charset "UTF-8";

/* Restante do seu código CSS aqui */

body {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 0px;
  padding: 0px;
  overflow: scroll;
  background: url(/public/imagens/china.jpg) no-repeat;
}

#ideogramas {
  margin-top: 150px;
  background-color: white;
  border-width: 5px;
  border-style: outset;
  border-color: black;
  border-image: initial;
  border-radius: 20px;
}

#ideogramas input {
  background-color: white;
  border: none;
  text-align: center;
  border-radius: 20px;
  outline: none;
}
#ideogramas input:focus {
  background-color: white;
  border: none;
}
#ideogramas input:not(:focus) {
  background-color: white;
}

#ideogramas button {
  background-color: rgb(76, 175, 80);
  color: white;
  cursor: pointer;
  position: relative;
  right: -1px;
  animation-timeline: auto;
  animation-range-start: normal;
  animation-range-end: normal;
  padding: 10px 20px;
  border-width: initial;
  border-style: none;
  border-color: initial;
  border-image: initial;
  border-radius: 20px;
  animation-name: botaoAnimado;
  animation-duration: 4s;
  animation-timing-function: linear;
}
@keyframes botaoAnimado {
  0% {
    right: -1px;
  }
  50% {
    right: 180px;
  }
  100% {
    right: -1px;
  }
}

.lista {
  width: calc(-20px + 100vw);
  height: calc(-20px + 100vh);
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin: 15px 15px 20px;
  gap: 20px;
}

.listaCards {
  max-height: 250px;
  margin-bottom: 10px;
  display: grid;
  grid-template-areas:
    "titulo titulo"
    "titulo titulo"
    "velocidade velocidade"
    "botao botao";
  border-radius: 20px;
  padding: 15px;
  overflow: hidden;
  background: linear-gradient(
    0deg,
    rgb(34, 193, 195) 0%,
    rgb(45, 166, 253) 100%
  );
}
.listaCards h1 {
  grid-area: titulo;
}
.listaCards input {
  grid-area: velocidade;
}
.listaCards button {
  grid-area: botao;
  border-radius: 20px;
  border: none;
}
